@import 'normalize.css';

body {

}

.container {
    margin: 0px;
    padding: 0px;

}
/*menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 100%;
}

/*Hier staat het topmenu*/
.topmenu {
    list-style: none;
    margin-right: 10px;
    padding-left: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
}
.topmenu p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {

    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E51B00;
    text-align: center;
    border-radius: 15px;
    height: 10%;


}

.button2 {

    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00CBE5;
    border-radius: 15px;
    text-align: center;
    height: 10%;


}

.button4 {

    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    background-color: #00E517;
    text-align: center;

    height: 10%;

}

.button5 {

    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    background-color: #E5A601;
    text-align: center;

    height: 10%;

}

.main {
    float: left;
    width: 60%;
    padding-left: 20%;
    padding-right: 5px;
    margin-bottom: 5px;
}

.main h1 {
    font-size: 50px;
    text-align: center;
}

.main h3 {
    font-size: 20px;
    text-align: center;
}

.main hr {
    display: block;
    border-width: 2px;
    border-style: inset;
    width: 60%;
    color: black;
}

.main p {
    text-align: center;
    padding-left: 10px;
    margin-left: 10px;

}

.footer {

    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 3px;
    position: relative;
    margin-top: 40%;
}

.footer p {
    text-align: center;
    font-style: italic;
    font-size: 10px;
}

.table {
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
}

table#t01 {
    text-align: center;
    width: 100%;
}

a {
    color: black;
}